// colors
$info-images-color: #dfff00;
$info-text-color: #fff;
$base-body-color: #8d8d8d;
$header-bkg-color: rgba(10, 10, 10, .8);
$border-right-color: rgba(255, 255, 255, .15);
$border-nav-color: rgba(0, 0, 0, .08);
$nav-color: rgba(80, 80, 80, 1);
$box-shadow-color: 0 15px 45px -9px #888;
$btn-color: #535353;
$black-heading: #303030;
$introduction-btn: #ecad17;
$introduction-border: rgba(241, 241, 241, 1);
$about-color: rgba(248, 248, 248, 1);
$about-info-paragraph: #919191;
$about-title: #4c4c4c;
$about-info-border: #e8e8e8;
$gallery-btn: rgba(240, 204, 33, 1);
$arrow-color: #cacaca;
$footer-bkg-color: rgba(10, 10, 10, .8);
$footer-color: #e3e3e3;

// units
$font-sizes: 14px;
$navigation-size: 12px;
$info-images-size: 36px;
$info-font-sizes: 13px;
$header-title: 17px;
$heading-title: 15px;
$main-header-title: 51px;
$main-header-title2: 40px;
$introduction-heading: 30px;
$introduction-title: 16px;
$introduction-title-sm: 18px;
$info-heading: 26px;
$works-info-heading: 24px;
$arrow-size: 28px;
$header-title-md: 20px;
$header-title-lg: 38px;
