.main-header {
  background-color: $header-bkg-color;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20px;

  &__info {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  &__contact {
    display: none;
    margin-top: 5px;

    .fa-phone-alt {
      color: $info-images-color;
      font-size: $info-images-size;
      margin-right: 20px;
    }

    .fa-envelope {
      color: $info-images-color;
      font-size: $info-images-size;
      margin-right: 20px;
    }

    .fa-clock {
      color: $info-images-color;
      font-size: $info-images-size;
      margin-right: 20px;
    }
  }

  &__phone {
    border-right: 1px solid $border-right-color;
    color: $info-text-color;
    cursor: pointer;
    display: flex;
    font-size: $info-font-sizes;
    height: 45px;
    margin-right: 20px;
    padding-right: 20px;

    &:hover {
      opacity: .8;
    }
  }

  &__email {
    border-right: 1px solid $border-right-color;
    color: $info-text-color;
    cursor: pointer;
    display: flex;
    font-size: $info-font-sizes;
    height: 45px;
    margin-right: 20px;
    padding-right: 20px;

    &:hover {
      opacity: .8;
    }
  }

  &__working-hours {
    color: $info-text-color;
    cursor: pointer;
    display: flex;
    font-size: $info-font-sizes;
    height: 45px;
    margin-right: 20px;

    &:hover {
      opacity: .8;
    }
  }

  &__strong {
    text-transform: uppercase;
  }
}

@media (min-width: 992px) {
  .main-header {
    &__contact {
      display: flex;
    }
  }
}
