.epp {
  margin-top: 50px;

  &__left {
    &__active {
      color: $header-bkg-color;
    }

    &__list {
      display: block;
      padding-right: 40px;
      text-align: right;
      width: 90%;

      .active {
        color: $header-bkg-color;
      }
    }

    &__title {
      color: $base-body-color;
    }

    &__icons {
      color: $base-body-color;
      line-height: 3.7;
      margin-left: 15px;
    }

    &__desc {
      margin-bottom: 50px;
      padding-left: 15px;
      padding-right: 15px;
      text-align: justify;
    }

    &-heading {
      color: $about-title;
      font-size: $works-info-heading;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__right {
    margin-bottom: 50px;
    text-align: center;

    &__left {
      margin-top: 35px;
      padding-left: 40px;
      padding-right: 80px;
    }

    &__image {
      width: 90%;
    }
  }
}

@media (min-width: 568px) {
  .epp {
    &__left {
      &-heading {
        font-size: $arrow-size;
      }
    }
  }
}

@media (min-width: 992px) {
  .epp {
    display: flex;
    margin: 0 75px;
    margin-top: 100px;

    &__left {
      display: flex;
      text-align: right;
      width: 70%;

      &__list {
        width: 45%;
      }

      &__desc {
        width: 55%;
      }
    }

    &__right {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (min-width: 1200px) {
  .epp {
    &__left {
      &__list {
        border-right: 1px solid $border-nav-color;
      }
    }
  }
}
